<div class="container-fluid container-jr" id="about">

  <div class="container project">
    <h1 class="mb-5" data-aos="zoom-in" data-aos-duration="1000">About</h1>
    <div class="row">
      <div class="col-sm-12 col-lg-6 about" data-aos="fade-right" data-aos-duration="1000">
        <%= cl_image_tag("wdwlwuezdpejo4laqep4", class: "img-fluid mb-5") %>
      </div>
      <div class="col-sm-12 col-lg-6 about-text">
        <p>I have spent 6 months of 2020 combining my full-time job with a <span id="green-color-bold">Full-stack Web Developer Bootcamp</span> at Le Wagon in Barcelona. It was the most challenging 6 months of my life, but it was worth every second!
        </p>
        <p>Before my journey into code 🚀, I studied tourism, starting in Brazil, and finishing it in Spain. This changed my view of the world and allowed me to learn about so many different countries and cultures.
        </p>
      </div>
    </div>
  </div>
</div>
