<div class="container about-rellax mt-5">
  <h1>About</h1>
  <div class="about my-5">
    <div class="about-img">
      <%= image_tag("webdev-focus.svg", class: "img-fluid") %>
    </div>
    <div class="about-text">
      <p>I have spent 6 months of 2020 combining my full-time job with a Full-stack Web Developer Bootcamp at Le Wagon in Barcelona. It was the most challenging 6 months of my life, but it was worth every second!
      </p>
      <p>Before my journey into code, I studied tourism, starting in Brazil, and finishing it in Spain. This changed my view of the world and allowed me to learn about so many different countries and cultures.
      </p>
<!--      <p>Since I was a child, hospitality and technology were my passion. I was interested in the latest video game technologies, fascinated by the hotel as a system and how it all works. In 2016 I decided to do a master's in Hotel Management because I wanted to learn how online distribution strategies work and understand the challenges a hotelier encounters every day. It has helped me know my client's business and objectives and prepare them to face the new online distribution challenges.-->
<!--      </p>-->
    </div>

  </div>

</div>
