<div class="banner-container">
  <%= image_tag("webdev-girl.svg", class: "img-fluid") %>
  <div class="banner-text">
    <h1 id="banner-h1"> <span id="banner-typed-text"></span> </h1>
    <br>
    <h2>Full Stack Web Developer </h2>
  </div>
</div>
