<div class="banner-container">
  <span class="rellax" data-rellax-speed="6"> <%= cl_image_tag("z60kfqzm9t6krx9dzfew", class: "img-fluid") %></span>
  <div class="banner-text rellax" data-rellax-desktop-speed="-3" data-rellax-mobile-speed="-1">
    <h1 id="banner-h1"> <span id="banner-typed-text"></span> </h1>
    <br>
    <h2>Full Stack Web Developer </h2>
  </div>
</div>
