<div class="banner-container">
  <span class="rellax" data-rellax-speed="5"><%= image_tag("webdev-girl.svg", class: "img-fluid") %></span>
<!--  <div class="banner-text rellax"-->
<!--  </div>-->
  <div class="banner-text rellax" data-rellax-speed="-3">
    <h1 id="banner-h1"> <span id="banner-typed-text"></span> </h1>
    <br>
    <h2>Full Stack Web Developer </h2>
  </div>
</div>
