<div class="banner-container img-fluid">
  <%= image_tag("webdev-girl.svg", class: "img-fluid") %>
  <div class="banner-text">
    <h1>Hey, I'm Jamile!</h1>
    <h2>Full Stack Web Developer </h2>
  </div>
</div>
