<div class="container container-contact d-flex justify-content-center">
  <div class="card-contact">
    <div class="card-text">
      <h1>Contact</h1>
      <h2>I'm always open for a chat. </h2>
      <p>Drop me an email at <%= mail_to "jamile.radloff@gmail.com" %> or follow me on social media</p>
      <%= link_to "https://www.linkedin.com/in/jradloff/", target: "_blank", class: "margin-between" do %>
        <i class="fab fa-linkedin-in fa-2x"></i>
      <% end %>
    </div>
<!--    <div class="contact-img">-->
      <%= image_tag("webdev-img-contact.svg", class: "img-fluid") %>
<!--    </div>-->
  </div>
</div>
