<div class="container d-flex justify-content-center" id="contact">
  <div class="card-contact">
    <h1 class="mt-5" data-aos="fade-right" data-aos-duration="1000" data-aos-offset="400">Contact</h1>
    <h3 class="mt-3">I'm always open for a chat!</h3>

    <div class="card-details">
      <div class="card-text">
        <h4> <span id="green-color"><%= mail_to "hello@jamileradloff.com", "Drop me an email at" %></span>
        <%= mail_to "hello@jamileradloff.com" %> or follow me on social media:</h4>
        <%= link_to "https://www.linkedin.com/in/jradloff/", target: "_blank", class: "margin-between" do %>
          <i class="fab fa-linkedin-in fa-2x mt-3"></i>
        <% end %>
      </div>

      <div data-aos="fade-up" data-aos-duration="1000" data-aos-offset="150">
        <%= cl_image_tag("ugm7b01ut5tecdvhq2jp", class: "img-fluid") %>
      </div>

    </div>
  </div>
</div>
