<div class="container container-contact d-flex justify-content-center">
  <div class="card-contact">
    <h1>hello teste</h1>
    <div class="contact-img">
      <%= image_tag("webdev-img-contact.svg", class: "img-fluid") %>
    </div>
  </div>
</div>
