//.container-contact {
//  width: 100%;
//  margin-right: auto;
//  margin-left: auto;
//  padding-right: 15px;
//  padding-left: 15px;
//}

.card-contact {
  position: relative;
  display: flex;
  width: 90%;
  height: auto;
  //word-wrap: break-word;
  background-color: #fff;
  //background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 2px;
  align-items: center;
  justify-content: space-between;
}

.contact-img {

}

@media only screen and (max-width: 1024px) {

  .card-contact {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 2px;
    align-items: center;
    justify-content: center;
  }

  .container-contact {
    margin: 0 !important;
    padding: 0 !important;
  }
}
