.footer-social-media {
  justify-content: center;
  align-items: flex-end;
  display: flex;
  margin-top: 6rem;
  background-color: rgba(112, 220, 190, 0.5);
}

i {
  color: $secondary-blue;
  font-size: 2rem;

  &:hover {
    color: $pink-portfolio;
    transform: scale(1.2)
  }
}

.footer-p\ {
  color: $dark-blue;
}

.margin-between {
  margin: 0 0.8rem;
}


// small screen
//@media only screen and (max-width: 768px) {
//  .footer {
//    justify-content: center;
//    align-items: flex-end;
//    display: flex;
//    background-image: url('abstract-triangle-top.png');
//    transform: rotate(180deg);
//    background-position: top;
//    background-repeat: no-repeat;
//    background-size: cover;
//    height: 70vh;
//  }
//
//  .color-p {
//    color: $pastel-black;
//  }
//
//  .footer-social-media {
//    margin-top: 7rem;
//  }
//
//  i {
//    color: $pastel-black;
//    font-size: 2rem;
//    transition: transform .5s;
//
//    &:hover {
//      color: $pastel-black;
//      transform: scale(1.3)
//    }
//  }
//}
